<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Radek Szybki - Fotografia Świata">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../img/favicon.ico">
  <link rel="icon" type="image/png" href="../img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="../img/favicon-32x32.png" sizes="32x32">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Radek Szybki - Kontakt</title>
</head>

<body>

  <div class="wrapper">
    <!-- NAVIGATION -->
    <nav class="navigation">

      <!-- Desktop Navigation -->
      <ul class="nav--desktop">
        <li><a href="../">Info</a></li>
        <li><a href="../galerie">Galerie</a></li>
        <li><a href="../"><img src="../img/logo-light.svg" alt="Logo"></a></li>
        <li><a href="../news">News</a></li>
        <li><a href="index" class="active">Kontakt</a></li>
      </ul>

      <!-- Mobile Navigation -->
      <a href="../">
        <img src="../img/logo-slim.svg" alt="Mobile Logo" class="logo--mobile">
      </a>
      <ul class="nav--mobile">
        <li class="close-btn">&times;</li>
        <li><a href="../">Info</a></li>
        <li><a href="../galerie">Galerie</a></li>
        <li><a href="../news">News</a></li>
        <li><a href="index" class="active">Kontakt</a></li>
      </ul>
      <div class="toggler">MENU</div>
    </nav>
    <main class="main-contact">
      <p>Zapraszam do moich kanałów social media:</p>
      <p class="social-media">
        <a href="https://500px.com/radekszybki"><i class="fab fa-500px"></i></a>
        <a href="https://www.facebook.com/radekszybkifoto/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/radekszybki_foto/"><i class="fab fa-instagram"></i></a>
      </p>

      <p>... lub napisania mi wiadomości:</p>
      <form>
        <label for="subject">Temat:</label>
        <input type="text" id="subject" name="subject" required>

        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Treść:</label>
        <textarea name="text" id="text" cols="15" rows="10" required></textarea>

        <button type="submit" id="submit" name="submit">Wyślij</button>
      </form>
      <p class="luty">Portfolio by <a href="mailto:daniel@danielluty.com">Daniel Luty</a></p>
    </main>
    <!-- FOOTER -->
    <footer>Copyright &copy; 2019 - Radosław Pośpiech</footer>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    $("form").on("submit", e => {
      e.preventDefault();

      const email = $("#email")
        .val()
        .trim();
      const subject = $("#subject")
        .val()
        .trim();
      const text = $("#text")
        .val()
        .trim();

      const data = {
        email,
        subject,
        text
      };

      $.post("/email", data)
        .then(() => {
          window.location.href = "/email/sent";
        })
        .catch(() => {
          window.location.href = "/error";
        });
    });
  </script>
</body>

</html>