/* *** CONTACT *** */

.main-contact {
    width: 70%;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 2rem;
            font-size: 1.4rem;
        }

        input,
        textarea,
        button {
            font-family: $main-font;
            font-size: 1.3rem;
            padding: .9rem;
            margin-top: .9rem;
            border-radius: .1rem;
            outline: none;
            border: none;
            background: $text-color;
        }

        button {
            cursor: pointer;
            padding: .6rem;
            width: 10rem;
            height: 3rem;
            align-self: flex-end;

            &:hover {
                border: 2px solid rgb(190, 58, 58);
            }
        }
    }

    p {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        text-align: center;

        &.luty {
            margin: 7rem 0 0;
        }
    }

    .social-media {
        text-align: center;
        margin: 2.5rem 0;

        i {
            font-size: 5rem;
            margin: 2rem;
            padding: 1.5rem;
            transition: color .2s;

            &:hover {
                color: rgb(197, 31, 31);
            }
        }
    }
}

/* *** CONTACT: Media Queries *** */

@include desktop-xs {
    .main-contact {
        .social-media {
            margin: 3rem 0;

            i {
                font-size: 3.5rem;
                margin: .5rem;
            }
        }
    }
}

@include tablet {
    .main-contact {
        margin-top: 1.2rem;
        width: 85%;

        .social-media {
            margin: 2rem 0;

            i {
                font-size: 2.8rem;
            }
        }
    }
}

@include phone {
    .main-contact {
        width: 100%;

        form {
            button {
                align-self: center;
                margin-top: 1.5rem;
            }
        }

        .social-media {
            i {
                margin: 0;
            }
        }
    }
}

@include phone-s {
    .main-contact {
        font-size: 1.3rem;

        .social-media {
            i {
                font-size: 3rem;
                margin-top: 0;
            }
        }
    }
}