/* *** GENERAL STYLING *** */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: fixed linear-gradient(rgba(29, 25, 30, .99) 30%, rgba(29, 25, 30, .88)),
        fixed url('../../img/kontynenty-radek.svg') center / 90% no-repeat,
        $bg-color;
    font-family: $main-font;
    color: $text-color;
    font-size: 1.3rem;
}

img,
svg {
    max-width: 100%;
}

h1 {
    letter-spacing: .2rem;
    font-weight: lighter;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text-dimmed;

    &:hover {
        color: $text-color;
    }

    &.active {
        color: $text-color;
        font-weight: bolder;
    }
}

.wrapper {
    min-height: 100%;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

main {
    width: 80%;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .1rem;
    padding: 1rem;
}


/* *** GENERAL STYLING: Media Queries *** */

@include desktop-s {
    body {
        background-size: cover;
    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
}

@include desktop-s {
    h1 {
        font-size: 1.6rem;
    }
}

@include tablet {
    .wrapper {
        main {
            width: 85%;
        }
    }
}