/* *** GENERAL STYLING *** */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
height: 100%;
}

body {
    background: fixed linear-gradient(rgba(29, 25, 30, .99) 30%, rgba(29, 25, 30, .88)), 
                fixed url('../../img/kontynenty-radek.svg') center / 90% no-repeat, 
                $bg-color;
    font-family: $main-font;
    color: $text-color;
}

img,
svg {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text-dimmed;
    &:hover {
        color: $text-color;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* *** Media Queries *** */

@include desktop-s {
    body {
        background-size: cover;
    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

}

@include desktop-xs {
    body {

    }

    .wrapper {

    }

}
