/* *** NAVIGATION *** */

.navigation {
    .nav--desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 0 2.5rem;
        margin: 0 auto;

        li {
            text-align: center;

            a {
                transition: color .2s;
                letter-spacing: .2rem;

                &.active, &:hover {
                    color: $text-red;
                }

                img {
                    width: 250px;
                    opacity: .9;
                }
            }
        }
    }

    .nav--mobile,
    .logo--mobile,
    .toggler {
        display: none;
    }
}

/* *** NAVIGATION: Media Queries *** */

@include desktop-s {
    .navigation {
        .nav--desktop {
            font-size: 1.5rem;

            li {
                a {
                    img {
                        width: 180px;
                    }
                }
            }
        }
    }
}

@include desktop-xs {
    .navigation {
        .nav--desktop {
            font-size: 1.35rem;
            justify-content: space-between;
            padding: 0 2rem 0 1rem;
            font-size: 1.35rem;

            li {
                a {
                    img {
                        width: 150px;
                    }
                }

                &:nth-child(3) {
                    order: -1;
                }
            }
        }
    }
}

@include tablet {
    .navigation {
        .nav--desktop {
            font-size: 1.2rem;

            li {
                a {
                    img {
                        width: 125px;
                    }
                }
            }
        }
    }
}

@include phone {
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1.1rem;
        
        .nav--desktop {
            display: none;
        }

        .nav--mobile {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 1000;
            min-height: 100vh;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $bg-color;

            &.show-nav {
                display: flex;
            }

            .close-btn {
                color: $bg-color;
                background: $text-dimmed;
                font-size: 2rem;
                font-weight: 500;
                border: 1px solid $text-dimmed;
                position: absolute;
                right: 1.5rem;
                top: 1.5rem;
                padding: .3rem .8rem;
                cursor: pointer;
            }

            li {
                padding: 2rem 0;

                a {
                    font-size: 1.7rem;

                    &.active {
                        color: rgb(150, 67, 67);
                    }
                }
            }
        }

        .logo--mobile {
            display: inline-block;
            width: 80px;
        }

        .toggler {
            display: inline-block;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 500;
            border: 1px solid $text-dimmed;
            padding: .6rem .4rem;
            margin-bottom: .2rem;
            -webkit-tap-highlight-color: transparent;
        }
    }
}