@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap');
/* *** VARIABLES *** */
/* Colors */
$text-color: #dcdcf0;
$text-dimmed: #b6b6d4;

$link-bg: rgba(74, 70, 65, .8);

$bg-color: #1d191e;
$bg-dimmed: rgba(29, 25, 30, 0.95);

/* Fonts */
$header-font: 'M PLUS 1p', sans-serif;
$main-font: 'M PLUS 1p', sans-serif;